#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/af4d9c18-7b80-4e72-af3f-f3fd7cdfe89d/mocks/bdf4047f-171c-4e52-a2c6-7ee4be01ef37 # baseUri: https://mocksvc.mulesoft.com/mocks/bdf4047f-171c-4e52-a2c6-7ee4be01ef37 # 
title: Episode V The Empire Strikes Back
version: v2
description: The 5th episode of the Star Wars saga

uses: 
  characterType: exchange_modules/fc391f6f-5b49-4286-a172-f64346cc1c1d.lucas-films/charactertype/1.0.1/charactertype.raml
  jediType: exchange_modules/fc391f6f-5b49-4286-a172-f64346cc1c1d.lucas-films/jeditype/1.0.0/jeditype.raml

types: 
  character: characterType.character
  jedi: jediType.character

/character:
  description: Work with the characters of the film
  get:
    description: Retrieve a list of characters
    responses:
      200:
        body: 
          application/json:
            type: character[]
            example: !include exchange_modules/fc391f6f-5b49-4286-a172-f64346cc1c1d.lucas-films/charactercollectionexample/1.0.0/charactercollectionexample.raml
  /jedi:
    get:
      description: Get a list of jedi characters
      responses: 
       200: 
        body: 
          application/json:
            type: jedi[]
            example: !include exchange_modules/fc391f6f-5b49-4286-a172-f64346cc1c1d.lucas-films/jedicollectionexample/1.0.0/jedicollectionexample.raml
    post:
      description: Create a jedi character
      body: 
        application/json:
          type: jedi
          example: !include exchange_modules/fc391f6f-5b49-4286-a172-f64346cc1c1d.lucas-films/jedisingleexample/1.0.0/jedisingleexample.raml
      responses: 
        201:
          body: 
            application/json:
              example: {message: "Jedi Character created successfully"}
/opening_crawl:
  get:
    description: Get the film's opening crawls
    responses: 
      200:
        body: 
          application/json:
            example: !include exchange_modules/fc391f6f-5b49-4286-a172-f64346cc1c1d.lucas-films/openingcrawlexample/1.0.0/openingcrawlexample.raml